services:
  db:
    image: pgvector/pgvector:pg17
    container_name: my_postgres
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
  ollama:
    image: ollama/ollama:latest
    container_name: ollama_container
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    entrypoint: /bin/sh
    command: -c "/bin/ollama serve & sleep 5 && ollama pull phi3 && ollama pull nomic-embed-text && wait"    

volumes:
  db_data:
  ollama_data: