apiVersion: v1
kind: Service
metadata:
  name: db-service
  labels:
    app: db
spec:
  ports:
    - port: 5432
      targetPort: 5432
      name: postgres
  selector:
    app: db
  clusterIP: None 

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: db-statefulset
  labels:
    app: db
spec:
  serviceName: "db-service"
  replicas: 1
  selector:
    matchLabels:
      app: db
  template:
    metadata:
      labels:
        app: db
    spec:
      containers:
      - name: postgres
        image: pgvector/pgvector:pg17
        ports:
        - containerPort: 5432
          name: postgres
        env:
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              name: documind-secret
              key: postgre-user
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: documind-secret
              key: postgre-password
        - name: POSTGRES_DB
          value: "documind"
        volumeMounts:
        - name: db-data
          mountPath: /var/lib/postgresql/data
  volumeClaimTemplates:
  - metadata:
      name: db-data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 1Gi